body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 1.76rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.54rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #b52525 !important;
}
.bg-success {
  background-color: #1a7f6f !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffd006 !important;
}
.bg-danger {
  background-color: #0a9c06 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b52525 !important;
  border-color: #b52525 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #6d1616 !important;
  border-color: #6d1616 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6d1616 !important;
  border-color: #6d1616 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #1a7f6f !important;
  border-color: #1a7f6f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0b3730 !important;
  border-color: #0b3730 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0b3730 !important;
  border-color: #0b3730 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffd006 !important;
  border-color: #ffd006 !important;
  color: #060500 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ae8d00 !important;
  border-color: #ae8d00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #060500 !important;
  background-color: #ae8d00 !important;
  border-color: #ae8d00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #0a9c06 !important;
  border-color: #0a9c06 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #054903 !important;
  border-color: #054903 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #054903 !important;
  border-color: #054903 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b52525;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6d1616 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b52525 !important;
  border-color: #b52525 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1a7f6f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0b3730 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1a7f6f !important;
  border-color: #1a7f6f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffd006;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ae8d00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #060500 !important;
  background-color: #ffd006 !important;
  border-color: #ffd006 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0a9c06;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #054903 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0a9c06 !important;
  border-color: #0a9c06 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #b52525 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #1a7f6f !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffd006 !important;
}
.text-danger {
  color: #0a9c06 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #601414 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #092a25 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #9f8100 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #043a02 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #b52525;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffd006;
}
.alert-danger {
  background-color: #0a9c06;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b52525;
  border-color: #b52525;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #b52525;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e37676;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #41d8c0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff7d2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #30f72b;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #b52525 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #b52525;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b52525;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #b52525;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b52525;
  border-bottom-color: #b52525;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #b52525 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b52525' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  position: relative !important;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  position: absolute !important;
}
.cid-tB0YZQqaCG .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tB0YZQqaCG .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tB0YZQqaCG .dropdown-item:hover,
.cid-tB0YZQqaCG .dropdown-item:focus {
  background: #b52525 !important;
  color: white !important;
}
.cid-tB0YZQqaCG .dropdown-item:hover span {
  color: white;
}
.cid-tB0YZQqaCG .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tB0YZQqaCG .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tB0YZQqaCG .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tB0YZQqaCG .nav-link {
  position: relative;
}
.cid-tB0YZQqaCG .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .container {
    flex-wrap: wrap;
  }
}
.cid-tB0YZQqaCG .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tB0YZQqaCG .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tB0YZQqaCG .dropdown-menu,
.cid-tB0YZQqaCG .navbar.opened {
  background: #103a51 !important;
}
.cid-tB0YZQqaCG .nav-item:focus,
.cid-tB0YZQqaCG .nav-link:focus {
  outline: none;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tB0YZQqaCG .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tB0YZQqaCG .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tB0YZQqaCG .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tB0YZQqaCG .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #103a51;
}
.cid-tB0YZQqaCG .navbar.opened {
  transition: all 0.3s;
}
.cid-tB0YZQqaCG .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tB0YZQqaCG .navbar .navbar-logo img {
  width: auto;
}
.cid-tB0YZQqaCG .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tB0YZQqaCG .navbar.collapsed {
  justify-content: center;
}
.cid-tB0YZQqaCG .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tB0YZQqaCG .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tB0YZQqaCG .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tB0YZQqaCG .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tB0YZQqaCG .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tB0YZQqaCG .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tB0YZQqaCG .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tB0YZQqaCG .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tB0YZQqaCG .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tB0YZQqaCG .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tB0YZQqaCG .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tB0YZQqaCG .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tB0YZQqaCG .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tB0YZQqaCG .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tB0YZQqaCG .navbar.navbar-short {
  min-height: 60px;
}
.cid-tB0YZQqaCG .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tB0YZQqaCG .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tB0YZQqaCG .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tB0YZQqaCG .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tB0YZQqaCG .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tB0YZQqaCG .dropdown-item.active,
.cid-tB0YZQqaCG .dropdown-item:active {
  background-color: transparent;
}
.cid-tB0YZQqaCG .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tB0YZQqaCG .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tB0YZQqaCG .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #103a51;
}
.cid-tB0YZQqaCG .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tB0YZQqaCG .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tB0YZQqaCG ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tB0YZQqaCG .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tB0YZQqaCG button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b52525;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tB0YZQqaCG button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tB0YZQqaCG nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tB0YZQqaCG .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tB0YZQqaCG a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tB0YZQqaCG .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tB0YZQqaCG .navbar {
    height: 70px;
  }
  .cid-tB0YZQqaCG .navbar.opened {
    height: auto;
  }
  .cid-tB0YZQqaCG .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tRPc0VcKn1 {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tRPc0VcKn1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPc0VcKn1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRPc0VcKn1 .oldcost {
  text-decoration: line-through;
  color: #e43f3f;
}
.cid-tRPc0VcKn1 .currentcost {
  color: #232323;
}
.cid-tRPc0VcKn1 .card-wrapper {
  border-radius: 4px;
  background: #ffffff;
}
@media (min-width: 992px) {
  .cid-tRPc0VcKn1 .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tRPc0VcKn1 .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tRPc0VcKn1 .text-box {
    padding: 1rem;
  }
}
.cid-tRPc0VcKn1 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tRPc0VcKn1 .mbr-text,
.cid-tRPc0VcKn1 .cost,
.cid-tRPc0VcKn1 .mbr-section-btn {
  text-align: center;
  color: #232323;
}
.cid-tRPc0VcKn1 H5 {
  color: #232323;
}
.cid-tRPc0VcKn1 DIV {
  text-align: center;
}
.cid-tU5QdMjuhX {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tU5QdMjuhX .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU5QdMjuhX .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU5QdMjuhX .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tU5Qcr4vWk {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tU5Qcr4vWk img,
.cid-tU5Qcr4vWk .item-img {
  width: 100%;
}
.cid-tU5Qcr4vWk .item:focus,
.cid-tU5Qcr4vWk span:focus {
  outline: none;
}
.cid-tU5Qcr4vWk .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tU5Qcr4vWk .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #f3f3f3;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tU5Qcr4vWk .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tU5Qcr4vWk .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tU5Qcr4vWk .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tU5Qcr4vWk .mbr-section-title {
  color: #ff9966;
}
.cid-tU5Qcr4vWk .mbr-text,
.cid-tU5Qcr4vWk .mbr-section-btn {
  text-align: center;
}
.cid-tU5Qcr4vWk .item-title {
  text-align: center;
}
.cid-tU5Qcr4vWk .item-subtitle {
  text-align: center;
}
.cid-tU5SApaDoc {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #103a51;
}
.cid-tU5SApaDoc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU5SApaDoc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU5SApaDoc .mbr-section-title {
  color: #ffffff;
}
.cid-tU5SApaDoc .mbr-section-subtitle {
  color: #ffe161;
}
.cid-u6jcQzMqWt {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u6jcQzMqWt .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6jcQzMqWt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u6jcQzMqWt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u6jcQzMqWt .row {
  flex-direction: row-reverse;
}
.cid-u6jcQzMqWt img {
  width: 100%;
}
.cid-u6jaK30p3F {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #103a51;
}
.cid-u6jaK30p3F .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6jaK30p3F .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u6jaK30p3F .mbr-section-title {
  color: #ffffff;
}
.cid-u6jaqvuJh3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-u6jaqvuJh3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6jaqvuJh3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u6jaqvuJh3 .item:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-u6jaqvuJh3 .item-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-u6jaqvuJh3 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-u6jaqvuJh3 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-u6jaqvuJh3 .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-u6jaqvuJh3 .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-u6jaqvuJh3 .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-u6jaqvuJh3 .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-u6jaqvuJh3 .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-u6jaqvuJh3 .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tU5UH5MZXR {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tU5UH5MZXR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU5UH5MZXR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU5UH5MZXR .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u6Stg4GNG7 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-u6Stg4GNG7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6Stg4GNG7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u6Stg4GNG7 .mbr-section-title {
  text-align: left;
}
.cid-tB1vWdJbT6 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-tB1vWdJbT6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1vWdJbT6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1vWdJbT6 .row {
  flex-direction: row-reverse;
}
.cid-tB1vWdJbT6 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tB1vWdJbT6 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tB1vWdJbT6 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tB1vWdJbT6 .mbr-text,
.cid-tB1vWdJbT6 .mbr-section-btn {
  text-align: left;
}
.cid-tB1xoWzrbk {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #e8e2e2;
}
.cid-tB1xoWzrbk .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB1xoWzrbk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB1xoWzrbk .mbr-section-subtitle {
  text-align: left;
  color: #232323;
}
.cid-tB1xoWzrbk .mbr-section-title {
  color: #000000;
}
.cid-tU6021GBJg {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #103a51;
}
.cid-tU6021GBJg .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU6021GBJg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU6021GBJg .mbr-section-title {
  color: #ffffff;
}
.cid-tU6021GBJg .mbr-section-subtitle {
  color: #ffe161;
}
.cid-u6jfJ5e2H6 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u6jfJ5e2H6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6jfJ5e2H6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-u6jfJ5e2H6 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u6jfJ5e2H6 .row {
  flex-direction: row-reverse;
}
.cid-u6jfJ5e2H6 img {
  width: 100%;
}
.cid-tUQ3jUK9WY {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tUQ3jUK9WY .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUQ3jUK9WY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tUQ3jUK9WY .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u6STCRVPcM {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-u6STCRVPcM .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6STCRVPcM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u6STCRVPcM .mbr-section-subtitle {
  text-align: left;
}
.cid-tUQ3mrFDeH {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tUQ3mrFDeH .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tUQ3mrFDeH .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tUQ3mrFDeH .counter-container ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #103a51;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tUQ3mrFDeH .mbr-text UL {
  text-align: left;
}
.cid-tUQ3mrFDeH .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-tUQ5Xcu3VW {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tUQ5Xcu3VW .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUQ5Xcu3VW .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tUQ5Xcu3VW .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tUQ6zOM5xG {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tUQ6zOM5xG .mbr-fallback-image.disabled {
  display: none;
}
.cid-tUQ6zOM5xG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tUQ6zOM5xG .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u74k7BuG0y {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-u74k7BuG0y .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-u74k7BuG0y .mbr-text {
  text-align: left;
}
.cid-tRPkgU4m0d {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tRPkgU4m0d .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPkgU4m0d .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRPkgU4m0d .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
@media (min-width: 991px) {
  .cid-tRPkgU4m0d .item {
    margin-bottom: 4rem;
  }
}
.cid-tRPkgU4m0d .item:last-child .icon-box:before {
  display: none;
}
.cid-tRPkgU4m0d .item.last .icon-box:before {
  display: none;
}
.cid-tRPkgU4m0d .icon-box {
  background: #103a51;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-tRPkgU4m0d .icon-box {
    margin-right: 1rem;
  }
}
.cid-tRPkgU4m0d .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 34px;
  left: 50%;
  top: 131%;
  color: #103a51;
  transform: translate(-50%, 0);
}
.cid-tRPkgU4m0d span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tRPkgU4m0d .card {
    margin-bottom: 2rem;
  }
  .cid-tRPkgU4m0d .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tRPkgU4m0d .icon-box::before {
    top: 141%;
  }
}
@media (max-width: 768px) {
  .cid-tRPkgU4m0d .icon-box::before {
    top: 114%;
  }
}
.cid-tRPkgU4m0d .icon-title {
  color: #000000;
}
.cid-tU6abxs7sK {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tU6abxs7sK .mbr-fallback-image.disabled {
  display: none;
}
.cid-tU6abxs7sK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tU6abxs7sK .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tB78ZAKAzC {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-tB78ZAKAzC .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB78ZAKAzC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB78ZAKAzC .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-tB78ZAKAzC .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tB78ZAKAzC .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #b52525;
}
.cid-tB78ZAKAzC .panel-body,
.cid-tB78ZAKAzC .card-header {
  padding: 1rem 0;
}
.cid-tB78ZAKAzC .panel-title-edit {
  color: #000000;
}
.cid-tB78ZAKAzC H3 {
  color: #08291a;
}
.cid-tRPysGXNkl {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tRPysGXNkl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPysGXNkl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRPysGXNkl .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tRPuZADzpP {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tRPuZADzpP .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPuZADzpP .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRPuZADzpP .mbr-section-title {
  color: #18356a;
}
.cid-tRPuWSDNfu {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tRPuWSDNfu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPuWSDNfu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tRPuWSDNfu .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tRPuWSDNfu .row {
  flex-direction: row-reverse;
}
.cid-tRPuWSDNfu img {
  width: 100%;
}
.cid-tRPuXMM3PO {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u6Swb9vr8H {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-u6Swb9vr8H .mbr-fallback-image.disabled {
  display: none;
}
.cid-u6Swb9vr8H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u6Swb9vr8H .mbr-section-title {
  color: #ffffff;
}
.cid-tRPv3NCe0y {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #103a51;
}
.cid-tRPv3NCe0y .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPv3NCe0y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tRPv3NCe0y .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tRPv3NCe0y .row {
  flex-direction: row-reverse;
}
.cid-tRPv3NCe0y img {
  width: 100%;
}
.cid-tRPzwrw6s5 {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #103a51;
}
.cid-tRPzwrw6s5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tRPzwrw6s5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tRPzwrw6s5 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tRPzwrw6s5 .mbr-section-title {
  color: #ffffff;
}
.cid-tRPzwrw6s5 .mbr-section-subtitle DIV {
  text-align: center;
}
.cid-tRPzwrw6s5 .mbr-text,
.cid-tRPzwrw6s5 .mbr-section-btn {
  color: #f4c705;
}
.cid-tB7Zpny08V {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-tB7Zpny08V .mbr-fallback-image.disabled {
  display: none;
}
.cid-tB7Zpny08V .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tB7Zpny08V .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-tB7Zpny08V .mbr-section-title {
  color: #ffffff;
}
.cid-tBuMPzdHFY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuMPzdHFY .mbr-section-title {
  text-align: center;
}
.cid-tBuMj9hDkk {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuMj9hDkk .mbr-section-title {
  text-align: center;
}
.cid-tBuOj1XZ1f {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tBuOj1XZ1f .mbr-section-title {
  text-align: center;
}
